body{
    background-color: rgb(141, 209, 236);
}
h1{
    font-size: 60px;
    color: rgb(184, 113, 252);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(210, 14, 14);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
img{
    width: 390px;
    height: 390px;
    margin: 105px;
}